h3 {
    font-size: 30px;
    color: #374abb;
}

img { 
    height: 300px;
    width: 300px;
    margin-left: 3px;
    margin-right: 4px;
  }

body {
    width: 300px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgb(16, 12, 12);
    font-family: helvetica, sans-serif;
    
  }

  .strong {
    font: bold 10px; 
  }  

div {
    color: #FFFFFF;
    width: 250px;
    padding: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: lightgrey;
    list-style-type: none;
    background: linear-gradient(#54b51b, #6262ef);
  }
